<a href="https://colab.research.google.com/github/sanjaykhanssk/Intership-show-off/blob/master/sosio_intern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About Me:

* **Name** : S.Sanjay<br>
* **Qualification** :B.E:CSE (Onging 2016- 2020)<br>
* **Contact** : sanjaykhanssk@gmail.com<br>
* **Github**: [github.com/sanjaykhanssk](https://www.github.com/sanjaykhanssk)<br>
* **Website**: [sanjaykahnssk.github.io](https://sanjaykhanssk.github.io)<br>
* **Languages**: Python , Kotlin , JS , C++
* **Skills**:Deep Learning , Web Development , App Development , UI Design , Web Scrapping
* **Interest In** :BlockChain , IOT

#  Sosio Intership Problem:-
**Goal:** <br>
Now The Goal is to create a Model using LSTM for predicting stock prices with the DateTimeStamp <br>
**Idea:**<br>
The Idea is about A Model which will predict the 30th minute Stock Value(**Inveset** or Don't Invest on  the product) with the given previous 30 minutes value.<br>
Which means it will analayse the the previous 30 mintues data and give result as 0 and 1<br>

<ul>
    <li>0  -> Negative
        </li>
    <li>** 1 -> Positive**
    </li>
</ul>
    

So the share holder will get an Information about to Invest or not on the product.<br><br>
This is the idea about the given goal

*Note:- The Predicting  of Stock Price  is not limited with Historical data anything can Happen *

---

## Reading Data From DataBase

In [1]:
!pip install mysql-connector
import mysql.connector

Requirement already satisfied: mysql-connector in /usr/local/lib/python3.6/dist-packages (2.2.9)

In [0]:
conn = mysql.connector.connect(
         user='foouser',
         password='F88Pa%%**',
         host='134.209.144.239',
database='stocksdb')

cursor = conn.cursor()

In [3]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in /usr/local/lib/python3.6/dist-packages (0.9.3)

In [4]:
cursor.execute("SHOW TABLES")
for x in cursor:
    print(x)

('interview',)

In [0]:
import pandas as pd
import sqlalchemy

In [0]:
engine = sqlalchemy.create_engine("mysql+pymysql://foouser:F88Pa%%**@134.209.144.239/stocksdb")

In [0]:

df = pd.read_sql_table(table_name="interview" , con=engine , columns=['datetime' , 'open' , 'high','low','close','volume'] )

In [8]:
df.head(375)
#One day contains 375 timestamp index

               datetime     open     high      low    close  volume
0   2018-01-01 09:15:00  2419.00  2436.00  2408.90  2435.25   10281
1   2018-01-01 09:16:00  2435.00  2440.00  2426.45  2439.00   13315
2   2018-01-01 09:17:00  2439.70  2439.70  2422.10  2424.95    3760
3   2018-01-01 09:18:00  2420.00  2424.50  2386.50  2395.00   11653
4   2018-01-01 09:19:00  2395.00  2413.95  2394.70  2409.85    7744
5   2018-01-01 09:20:00  2409.05  2420.75  2405.30  2420.75    5458
6   2018-01-01 09:21:00  2420.30  2429.25  2419.95  2429.00    4865
7   2018-01-01 09:22:00  2429.15  2430.00  2417.00  2423.00    2796
8   2018-01-01 09:23:00  2423.70  2425.00  2419.00  2420.40    2580
9   2018-01-01 09:24:00  2420.45  2428.80  2420.45  2428.80    2265
10  2018-01-01 09:25:00  2428.65  2430.00  2426.80  2429.00    4123
11  2018-01-01 09:26:00  2427.20  2439.00  2426.85  2436.95    4583
12  2018-01-01 09:27:00  2435.00  2438.30  2432.10  2433.95    1558
13  2018-01-01 09:28:00  2435.00  2437.55  2430.00  2437.55    4642
14  2018-01-01 09:29:00  2437.70  2437.70  2434.00  2435.95    1033
15  2018-01-01 09:30:00  2435.95  2436.00  2430.00  2431.70    1838
16  2018-01-01 09:31:00  2431.70  2431.70  2428.70  2428.90    1330
17  2018-01-01 09:32:00  2428.90  2432.95  2428.90  2432.20    5154
18  2018-01-01 09:33:00  2432.20  2445.00  2432.20  2443.05    6419
19  2018-01-01 09:34:00  2444.00  2445.40  2443.80  2444.00    1797
20  2018-01-01 09:35:00  2444.00  2444.00  2440.35  2441.70    2642
21  2018-01-01 09:36:00  2440.50  2445.00  2440.50  2444.00    2084
22  2018-01-01 09:37:00  2444.00  2448.00  2444.00  2448.00    1990
23  2018-01-01 09:38:00  2447.95  2453.15  2444.70  2445.85   26588
24  2018-01-01 09:39:00  2444.00  2448.80  2443.50  2448.65    2479
25  2018-01-01 09:40:00  2448.05  2451.95  2445.10  2450.00    3455
26  2018-01-01 09:41:00  2450.00  2451.75  2447.95  2448.00    1950
27  2018-01-01 09:42:00  2447.55  2449.00  2447.50  2449.00    1010
28  2018-01-01 09:43:00  2449.00  2450.45  2448.00  2450.45    1520
29  2018-01-01 09:44:00  2450.45  2453.15  2450.40  2453.15    6347
..                  ...      ...      ...      ...      ...     ...
345 2018-01-01 15:00:00  2453.15  2453.15  2437.00  2437.00   25381
346 2018-01-01 15:01:00  2437.00  2437.00  2384.00  2398.15   15380
347 2018-01-01 15:02:00  2397.95  2424.95  2391.95  2420.00   10421
348 2018-01-01 15:03:00  2420.30  2425.00  2403.95  2415.00   12420
349 2018-01-01 15:04:00  2411.00  2434.70  2411.00  2424.95    8077
350 2018-01-01 15:05:00  2424.60  2431.95  2408.35  2414.65    6242
351 2018-01-01 15:06:00  2401.00  2430.00  2401.00  2428.70    3545
352 2018-01-01 15:07:00  2428.55  2428.55  2416.25  2417.80    3127
353 2018-01-01 15:08:00  2416.60  2425.00  2415.00  2420.40    2108
354 2018-01-01 15:09:00  2420.40  2439.00  2420.40  2439.00    5391
355 2018-01-01 15:10:00  2438.70  2445.00  2437.95  2444.10    4932
356 2018-01-01 15:11:00  2444.10  2447.95  2443.85  2446.20    3361
357 2018-01-01 15:12:00  2446.20  2453.15  2445.00  2453.15   10293
358 2018-01-01 15:13:00  2453.15  2453.15  2452.95  2453.15    6686
359 2018-01-01 15:14:00  2453.15  2453.15  2453.15  2453.15     989
360 2018-01-01 15:15:00  2453.15  2453.15  2453.15  2453.15     222
361 2018-01-01 15:16:00  2453.15  2453.15  2453.15  2453.15    1737
362 2018-01-01 15:17:00  2453.15  2453.15  2439.00  2439.00    3235
363 2018-01-01 15:18:00  2439.00  2451.00  2438.95  2451.00    3174
364 2018-01-01 15:19:00  2453.00  2453.15  2453.00  2453.15    1394
365 2018-01-01 15:20:00  2453.15  2453.15  2453.15  2453.15     145
366 2018-01-01 15:21:00  2453.15  2453.15  2453.15  2453.15      20
367 2018-01-01 15:22:00  2453.15  2453.15  2453.15  2453.15     435
368 2018-01-01 15:23:00  2453.15  2453.15  2453.15  2453.15     101
369 2018-01-01 15:24:00  2453.15  2453.15  2453.15  2453.15      93
370 2018-01-01 15:25:00  2453.15  2453.15  2453.15  2453.15      79
371 2018-01-01 15:26:00  2453.15  2453.15  2453.15  2453.15     331
372 2018-01-01 15:27:00  2453.15  2453.15  2453.15  2453.15     184
373 2018-01-01 15:28:00  2453.15  2453.15  2453.15  2453.15     306
374 2018-01-01 15:29:00  2453.15  2453.15  2453.15  2453.15       5

[375 rows x 6 columns]

Idea: We need to predict the stock price for every 30 minitues , wearher its positive or not

## Data Pre-Processing

In [0]:
stocks_df = df

In [0]:
stocks_df.set_index(stocks_df['datetime'] , inplace=True)

In [0]:
stocks_df.fillna(method="ffill" , inplace=True)
stocks_df.dropna(inplace=True)

In [0]:
def do_classify(current , features):
    if float(current) < float(features):
        return 1
    
    else:
        return 0

In [0]:
seq_len = 30
feature_prediction = 30

# Seq_len ---> The data will feed input for the model
# Feature_prediction --> Mintues to predicted in feature

In [0]:
stocks_df['feature'] = stocks_df['close'].shift(-feature_prediction)

In [0]:
stocks_df['target'] = list(map(do_classify ,stocks_df['close'], stocks_df['feature']))

In [0]:
stocks_df.head(380)

### Data Scalling

In [0]:
# data set scaling
prct_to_scale = stocks_df.index[-int(0.05 * len(stocks_df))]

train_df = stocks_df[(stocks_df.index < prct_to_scale)]
validate_df = stocks_df[(stocks_df.index >= prct_to_scale)]

#Scalling Training and validation set

In [18]:
validate_df.dropna(inplace=True)
train_df.dropna(inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
prct_to_scale

Timestamp('2018-03-20 10:12:00')

In [0]:
from sklearn import preprocessing
from collections import deque
import numpy as np
import random
def process_df(df):
    df = df.drop([ "datetime", "volume","feature", "high" ,  "low"] , 1)
    print(df.head())
    for col in df.columns:
        if col !='target':
            df[col] = np.array(df[col].pct_change())
            df.dropna(inplace=True)
            print('scaling col ', col)
            df[col] = preprocessing.scale(df[col].values)

            print(col)
    df.dropna(inplace=True)
    
    seq_data = []
    last_half_hour = deque(maxlen=seq_len)
    print(seq_len)
    for i in df.values:
        last_half_hour.append([j for j in i[:-1]])
        if len(last_half_hour) == seq_len:
            seq_data.append([np.array(last_half_hour) , i[-1]])
            
    random.shuffle(seq_data)
    invest = []
    share = []
    for seq , target in seq_data:
        if target == 0:
            share.append([seq , target])
            
        elif target == 1:
            invest.append([seq , target])
            
    lower = min(len(invest) , len(share))
    
    invest = invest[:lower]
    share  = share[:lower]
    
    seq_data = invest + share
    
    random.shuffle(seq_data)    
    x = [] 
    y = []
    for seq , target in seq_data:
        x.append(seq)
        y.append(target)
    
    return np.array(x) , y

### Preparing Datasets

In [21]:
train_x , train_y = process_df(train_df)
val_x , val_y = process_df(validate_df)
# Preparing training and validation set

                       open    close  target
datetime
2018-01-01 09:15:00  2419.0  2435.25       1
2018-01-01 09:16:00  2435.0  2439.00       1
2018-01-01 09:17:00  2439.7  2424.95       1
2018-01-01 09:18:00  2420.0  2395.00       1
2018-01-01 09:19:00  2395.0  2409.85       1
scaling col  open
open
scaling col  close
close
30
                        open    close  target
datetime
2018-03-20 10:12:00  3285.40  3283.00       0
2018-03-20 10:13:00  3283.00  3281.00       0
2018-03-20 10:14:00  3282.00  3281.60       0
2018-03-20 10:15:00  3281.60  3282.95       0
2018-03-20 10:16:00  3282.95  3285.25       0
scaling col  open
open
scaling col  close
close
30

In [22]:
train_y.count(1)

130916

In [0]:
train_y = np.array(train_y)
val_y = np.array(val_y)

In [24]:
for i in train_y:
    print(i)
    break

0.0

## Neural Network [LSTM] 
With 2 Epoch

In [0]:
import torch
import torch.nn as nn
import torchvision

In [0]:
train_data = torch.utils.data.TensorDataset(torch.from_numpy(train_x) , torch.from_numpy(train_y))
validate_data = torch.utils.data.TensorDataset(torch.from_numpy(val_x) , torch.from_numpy(val_y))

In [0]:
train_loader = torch.utils.data.DataLoader(train_data , batch_size=2 , shuffle=True)
validate_loader = torch.utils.data.DataLoader(validate_data , batch_size=2)

In [0]:
seq_length = seq_len
num_class = 2 
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
class NN(nn.Module):
    def __init__(self , ip_size , num_class , n_layer=3):
        super().__init__()
        self.hidden_size=60
        self.num_layers = 3
        self.lstm = nn.LSTM(ip_size , self.hidden_size ,n_layer , batch_first=True)
        self.fc1 = nn.Linear(self.hidden_size , 6)
        self.fc2 = nn.Linear(6 , num_class)
        self.dropout = nn.Dropout(0.3)
        self.relu = nn.ReLU()
    def forward(self , x):
        h0 = torch.zeros(self.num_layers , x.size(0) , self.hidden_size).to(device)
        c0 = torch.zeros(self.num_layers , x.size(0)  ,self.hidden_size).to(device)
        
        out , _ = self.lstm(x ,(h0 ,c0))
        
        out = self.dropout(out[-1])
        out = out.view(-1 , self.hidden_size)
        x = self.fc1(out)
        x =self.fc2(self.relu(x))
        
        return x

model = NN(train_x.shape[1:][1] , num_class)
model = model.to(device)
loss_function = nn.MSELoss()
optim  = torch.optim.Adam(model.parameters() , lr=0.001)

In [33]:
epochs = 2
for epoch in range(epochs):
    for i, batch in enumerate(train_loader):
        x , y = batch
        
        x = x.float().to(device)
        y= y.float().to(device)
        
        output = model(x)
        loss = loss_function(output , y)
        
        optim.zero_grad()
        loss.backward()
        optim.step()
        
        if(i% 10000 == 0):
            val_losses = []
            model.eval()
            for x_val , y_val in validate_loader:
                x_val = x_val.float().to(device)
                y_val= y_val.float().to(device)
                output = model(x)
                val_loss = loss_function(output,y_val)

                val_losses.append(val_loss.item())

            model.train()
            print("Epoch: {}/{}...".format(epoch+1, epochs),
                  "Step: {} / {}...".format(i , len(train_loader)),
                  "Loss: {:.6f}...".format(loss.item()),
                  "Val Loss: {:.6f}".format(np.mean(val_losses)))

Epoch: 1/2... Step: 0 / 130916... Loss: 0.831706... Val Loss: 0.802002
Epoch: 1/2... Step: 10000 / 130916... Loss: 0.230536... Val Loss: 0.250693
Epoch: 1/2... Step: 20000 / 130916... Loss: 0.211455... Val Loss: 0.251565
Epoch: 1/2... Step: 30000 / 130916... Loss: 0.251314... Val Loss: 0.250035
Epoch: 1/2... Step: 40000 / 130916... Loss: 0.234579... Val Loss: 0.251162
Epoch: 1/2... Step: 50000 / 130916... Loss: 0.273086... Val Loss: 0.251073
Epoch: 1/2... Step: 60000 / 130916... Loss: 0.267407... Val Loss: 0.250430
Epoch: 1/2... Step: 70000 / 130916... Loss: 0.250393... Val Loss: 0.250173
Epoch: 1/2... Step: 80000 / 130916... Loss: 0.245456... Val Loss: 0.251054
Epoch: 1/2... Step: 90000 / 130916... Loss: 0.257529... Val Loss: 0.250190
Epoch: 1/2... Step: 100000 / 130916... Loss: 0.257283... Val Loss: 0.250055
Epoch: 1/2... Step: 110000 / 130916... Loss: 0.255010... Val Loss: 0.250269
Epoch: 1/2... Step: 120000 / 130916... Loss: 0.242239... Val Loss: 0.250066
Epoch: 1/2... Step: 130000 / 130916... Loss: 0.240862... Val Loss: 0.250088
Epoch: 2/2... Step: 0 / 130916... Loss: 0.230762... Val Loss: 0.250751
Epoch: 2/2... Step: 10000 / 130916... Loss: 0.266617... Val Loss: 0.250312
Epoch: 2/2... Step: 20000 / 130916... Loss: 0.248126... Val Loss: 0.250010
Epoch: 2/2... Step: 30000 / 130916... Loss: 0.244232... Val Loss: 0.250085
Epoch: 2/2... Step: 40000 / 130916... Loss: 0.266662... Val Loss: 0.250930
Epoch: 2/2... Step: 50000 / 130916... Loss: 0.254174... Val Loss: 0.250081
Epoch: 2/2... Step: 60000 / 130916... Loss: 0.243683... Val Loss: 0.250823
Epoch: 2/2... Step: 70000 / 130916... Loss: 0.277236... Val Loss: 0.250815
Epoch: 2/2... Step: 80000 / 130916... Loss: 0.255098... Val Loss: 0.250175
Epoch: 2/2... Step: 90000 / 130916... Loss: 0.244104... Val Loss: 0.250239
Epoch: 2/2... Step: 100000 / 130916... Loss: 0.234586... Val Loss: 0.250340
Epoch: 2/2... Step: 110000 / 130916... Loss: 0.244891... Val Loss: 0.250041
Epoch: 2/2... Step: 120000 / 130916... Loss: 0.255124... Val Loss: 0.250031
Epoch: 2/2... Step: 130000 / 130916... Loss: 0.258809... Val Loss: 0.250077

In [0]:
torch.save(model.state_dict(),'stock_intern.pt')